/*** BASE STYLES ***/

/*
    font-family: 'Comfortaa', cursive;

    font-family: 'Open Sans', sans-serif;

    font-family: 'Roboto', sans-serif;

    - font-family: 'Poiret One', cursive;

    - font-family: 'Gruppo', cursive;

    - font-family: 'Muli', sans-serif;

	font-family: 'Josefin Sans', sans-serif;

	font-family: 'Questrial', sans-serif;

	- font-family: 'Satisfy', cursive; 

	- font-family: 'Orbitron', sans-serif;

	- font-family: 'Poiret One', cursive;

	- font-family: 'Montserrat Alternates', sans-serif;

	- font-family: 'Audiowide', cursive;

	- font-family: 'Michroma', sans-serif;

	- font-family: 'Fugaz One', cursive;

*/

body {
	color: #ffffff;
	width: 1200px;
}

.full-width {
	margin: 0px auto;
	width: 1200px;
}

.half-width {
    float: left;
    width: 600px;
}

/*** HEADER ***/

header {
	background-color: #EBEBEB; /***(https://www.w3schools.com/cssref/pr_background-image.asp) Color should always be specified 
    in case image doesn't display***/
	background-image: url('../img/jeremy-thomas-4dpAqfTbvKA-unsplash.jpg');
	/*Photo by Jeremy Thomas on Unsplash*/
	background-size: cover;
    height: 500px;
    margin: 0px;
    padding: 50px;
    text-align: center;
}

/*img {
	width: 1200px;
}*/

header h1 {
	/*font-family: 'Poiret One', cursive;*/
	/*font-family: 'Michroma', sans-serif;*/
	/*font-family: 'Orbitron', sans-serif;*/
	/*font-family: 'Audiowide', cursive;*/
	/*font-family: 'Fugaz One', cursive;*/
	/*font-family: 'Muli', sans-serif;*/
	/*font-family: 'Questrial', sans-serif;*/
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
}

header h2 {
	/*font-family: 'Gruppo', cursive;*/
	/*font-family: 'Montserrat Alternates', sans-serif;*/
	font-family: 'Questrial', sans-serif;
}

header h3 {
	/*font-family: 'Comfortaa', cursive;*/
	font-family: 'Roboto', sans-serif;
}

header h4 {
	font-family: 'Josefin Sans', sans-serif;
}

header h5 {
	font-family: 'Questrial', sans-serif;
}


p {
	font-family: 'Open Sans', sans-serif;
	/*font-family: 'Roboto', sans-serif;*/
}

/***** NAV *****/

nav {
    float: right; 
    margin: 0px;
    /*padding: 75px 25px;*/
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: #ffffff;;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 80px; 
}

/***** WORK *****/

#work {
	background-color: #202060;
	background-size: cover;
	color: #ffffff;
	height: 800px;
	margin: 0px;
    padding: 50px;
    text-align: center;
}

/***** ABOUT *****/

#about {
	background-color: #e0ccff;
	background-size: cover;
	color: #202060;
	height: 700px;
	margin: 0px;
	padding: 50px;
	text-align: center;
}

#about img {
	height: 200px;
}

/***** FOOTER / CONTACT *****/

#contact {
	background-color: #202060; 
	background-size: cover;
	color: #ffffff;
	height: 200px;
	margin: 0px;
	padding: 50px;
	text-align: center;
}